{% extends "base.html" %}
{% load static %}

{% block title %}Genres | MoviePulse{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/genre/genre.css' %}">
{% endblock %}

{% block content %}
    <section class="list-page">
        <div class="list-header">
            <h1>Genres</h1>

            {% if perms.movies.add_genre %}
                <a href="{% url 'genre_create' %}" class="btn">Create genre</a>
            {% endif %}
        </div>

        <div
            id="genres-list"
            class="entity-list"
            data-can-update="{% if perms.movies.change_genre %}true{% else %}false{% endif %}"
            data-can-delete="{% if perms.movies.delete_genre %}true{% else %}false{% endif %}"
            data-csrf-token="{{ csrf_token }}"
        >
            <p>Loading genres...</p>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/movies/genre/genre_list.js' %}"></script>
    <script src="{% static 'js/movies/genre/genre_delete.js' %}"></script>
{% endblock %}