{% extends "base.html" %}
{% load static %}

{% block title %}Create Genre | MoviePulse{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/genre/genre.css' %}">
{% endblock %}

{% block content %}
    <section class="form-page">
        <div class="form-container">
            <h1>Create Genre</h1>

            <form
                id="genre-create-form"
                data-api-url="{% url 'genre_create_api' %}"
                data-redirect-url="{% url 'genre_list' %}"
            >
                {% csrf_token %}

                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        required
                    >
                    <div id="name-errors" class="form-errors"></div>
                </div>

                <div id="form-errors" class="form-errors"></div>

                <div class="form-actions">
                    <a href="{% url 'genre_list' %}" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn">Create genre</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/movies/genre/genre_create.js' %}"></script>
{% endblock %}