{% extends "base.html" %}
{% load static %}

{% block title %}Create Author | MoviePulse{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/author/author_create.css' %}">
{% endblock %}

{% block content %}
    <section
        class="author-create-page"
        id="author-create-page"
        data-create-api-url="{% url 'author_api' %}"
        data-redirect-url="{% url 'author_list' %}"
    >
        <div class="author-create-shell">
            <div class="author-create-card">
                <div class="author-create-header">
                    <p class="author-create-kicker">Editor panel</p>
                    <h1>Create Author</h1>
                    <p>Add a new author, director, or creator that can be linked to movies.</p>
                </div>

                <form id="author-create-form" class="author-create-form">
                    {% csrf_token %}

                    <div class="author-form-group">
                        <label for="author-full-name">Full name</label>
                        <input
                            type="text"
                            id="author-full-name"
                            name="full_name"
                            class="author-form-control"
                            placeholder="Example: Christopher Nolan"
                            required
                        >
                    </div>

                    <div class="author-form-group">
                        <label for="author-date-of-birth">Birth date</label>
                        <input
                            type="date"
                            id="author-date-of-birth"
                            name="date_of_birth"
                            class="author-form-control"
                        >
                    </div>

                    <div id="author-create-errors" class="author-create-errors"></div>

                    <div class="author-create-actions">
                        <a href="{% url 'author_list' %}" class="author-create-cancel">
                            Cancel
                        </a>

                        <button type="submit" class="author-create-submit">
                            Create author
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/movies/author/author_create.js' %}"></script>
{% endblock %}