<div class="comment-card" style="margin-left: {{ level }}0px;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <strong>User:</strong> {{ comment.user.username }}
        </div>

        <div>
            <strong>
                {% if comment.updated_at != comment.created_at %}Updated:{% else %}Created:{% endif %}
            </strong>
            {% if comment.updated_at != comment.created_at %}
                {{ comment.updated_at|date:"d.m.Y H:i" }}
            {% else %}
                {{ comment.created_at|date:"d.m.Y H:i" }}
            {% endif %}
        </div>
    </div>

    <p><strong>Comment:</strong> {{ comment.content }}</p>

    <div class="comment-replies">
        {% for reply in comment.replies.all %}
            {% include "movies/comment/comment_item.html" with comment=reply level=level|add:2 %}
        {% endfor %}
    </div>
</div>